<table class="table">
  <thead>
    <tr>
      <th scope="col">Col. Name</th>
      <th scope="col">Type</th>
      <th scope="col">Required</th>
      <th scope="col">Reference</th>
      <th scope="col">Relation</th>
      <th scope="col">Label</th>
      <th scope='col'>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#col}}
    <tr id="field_{{colName}}">
        <td><input name="colName" type="text" placeholder="Col. name" value="{{colName}}" class="form-control"></td>
        <td>
            <select class="form-select">
                {{#types}}
                <option value="{{name}}" {{selected}}>{{name}}</option>
                {{/types}}
            </select>
        </td>
        <td>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="required" id="required" {{required}}>
            </div>
        </td>
        <td>
            <select onchange="changedReference(event)" class="form-select">
                {{#otherSchemas}}
                <option value="{{name}}" {{selected}}>{{name}}</option>
                {{/otherSchemas}}
            </select>
        </td>
        <td>
            <select class="form-select" {{disabledRelations}}>
                {{#relations}}
                <option value="{{name}}" {{selected}}>{{name}}</option>
                {{/relations}}
            </select>
        </td>
        {{#label}}
        <td><input name="label" type="text" placeholder="Label" value="{{value}}" class="form-control" {{disabled}}></td>
        {{/label}}
        <td>
            <button id="removeField" type="button" class="btn btn-danger">Remover</button>
        </td>
    </tr>
    {{/col}}
    <tr id="addBeforeThis_{{name}}">
        <td>
            <button id="addNewField_{{name}}" onclick="addNewField(this)" type="button" class="btn btn-primary">Adicionar novo campo</button>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button id="save" type="button" class="btn btn-primary">Salvar alterações</button></td>
    </tr>
  </tbody>
</table>