const express = require('express');
var router = express.Router();
var mustacheExpress = require('mustache-express');
{{#schemas}}
var schema{{title}} = require('../Schemas/{{title}}Schema.json');
{{/schemas}}

var otherSchemas = (schemaTitle, reference) => {
    let otherSchemas = [];
    otherSchemas.push({
        name: 'None',
        selected: reference == undefined ? 'selected' : ''
    });
    {{#schemas}}
        if(schemaTitle != '{{title}}'){
            otherSchemas.push({
                name: '{{title}}',
                selected: ''
            });
        }
        {{/schemas}}
    if(reference){
        let index = otherSchemas.findIndex(elem => elem.name == reference.model);
        otherSchemas[index].selected = 'selected';
    }
    return otherSchemas;
}

var relations = (reference) => {
    let relations = [];
    relations.push({
        name: '1-M',
        selected: ''
    });
    relations.push({
        name: 'M-M',
        selected: ''
    });
    relations.push({
        name: '1-1',
        selected: ''
    });
    if(reference){
        let index = relations.findIndex(rel => rel.name == reference.relation);
        relations[index].selected = 'selected';
    }
    return relations;
}

var types = (type) => {
    let types = [];
    types.push({
        name: 'string',
        selected: type == 'string' ? 'selected' : ''
    })
    types.push({
        name: 'number',
        selected: type == 'number' ? 'selected' : ''
    })
    types.push({
        name: 'boolean',
        selected: type == 'boolean' ? 'selected' : ''
    })
    types.push({
        name: 'reference',
        selected: type == undefined ? 'selected' : ''
    })
    return types;
}

var setupCols = (schema, schemaTitle) => {
    let cols = [];
    let col = {
        colName: "",
        types: [],
        required: "",
        otherSchemas: [],
        relations: [],
        disabledRelations: '',
        label: {}
    }

    let properties = schema.properties;
    let keys = Object.keys(properties);
    let arrRequired = schema.required;
    let references = schema.references;

    keys.forEach(elem => {
        cols.push({
            colName: elem,
            types: types(properties[elem].type),
            disabledTypes: '',
            required: arrRequired.find(req => req == elem) ? 'checked' : '',
            otherSchemas: otherSchemas(schemaTitle),
            relations: relations(),
            disabledRelations: 'disabled',
            label: {
                value: '',
                disabled: 'disabled'
            }
        })
    })

    if(references)
        references.forEach(reference => {
            cols.push({
                colName: reference.model+"_id",
                types: types(),
                disabledTypes: 'disabled',
                required: 'checked',
                otherSchemas: otherSchemas(schemaTitle, reference),
                relations: relations(reference),
                disabledRelations: '',
                label: {
                    value: reference.label,
                    disabled: ''    
                }
            })
        })
    return cols;
}

var setupSchemas = () => {
    let schemas = []
    {{#schemas}}
    schemas.push({
        isCurrentPage: false,
        href: '/{{title}}',
        name: '{{title}}',
        col: setupCols(schema{{title}}, '{{title}}')
    })
    {{/schemas}}
    return schemas;
}

router.get('/', (req, res) => {
    let view = {
        schemas: setupSchemas(),
        hasNoCurrentPage: true
    };
    res.render('home', view);
});

module.exports = router;